.page {
    width: 100%;
    height: 890px;
}

.button{
    background-color: #009B73;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    color: white;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0E725F;
}

.background{
    position: absolute;
    top: 70px;
    left: 15px;
    width: 400px;
    height: 700px;
    background-color: #3E394B;
    z-index: 0;
    border-radius: 26px;
}
.profilZakaznikImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.container{ 
    padding: 20px;
}

.name{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.location{
    font-size: 12px;
    color: #736F7E;
    margin: 0;
    padding: 0;
}

.info{
    position: absolute;
    top: 25px;
    left: 70px;
}

textarea{
    width: 340px;
    height: 100px;
    border-radius: 12px;
    border: none;
    padding: 10px;
    font-size: 14px;
    resize: none;
    margin-bottom: 20px;
    color: white;
    background-color: #736F7E;
}


.cameraButton {
  border: none;
  padding: 10px;
  border-radius: 26px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #3E394B;
  border: 2px solid white;
  width: 360px;
  height: 360px;
  margin-bottom: 20px;
  overflow: hidden;
}

.cameraButton:hover {
  background: #736F7E;
}

.cameraIcon {
  width: 80px;
  height: 70px;
  opacity: 0.7;
}



.Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.previewImage {
    width: 100%;
    height: 360px; 
    object-fit: cover;
    border-radius: 26px;
}
