.container{
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.heading{
    font-size: 16pt;
    margin: 0;
    margin-top: 25%;
    padding: 15px 12px 10px;
    background-color: #034E46;
    width: 50%;
    border-radius: 22px 22px 0 0;
}
.logo{
    margin: 0;
    position: absolute;
    top: 1%;
    right: 2%;
}
