.container{
    max-width: 300px;
    height: 692.906px;
    background: #2e2b3c;
    padding: 20px;
    margin: 90px 42.5px;
    border-radius: 26px;
    text-align: center;
    color: #fff;
}
.heading{
    margin: 55px auto;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.texts{
    margin: auto;
    font-size: 18px;
}
.images{
    background-color: #02946F;
    height: 80px;
    width: 80px;
    border-radius: 26px;
}
.images:hover{
    background-color: #0E725F;
}
.workerImage{
    width: fit-content;
    padding: 50px 65.25px;
}
.customerImage{
    padding: 50px;
    
}
