.footer{
    position: absolute;
    bottom: 0;
    background-color: #2e2b3c;
    height: 6.14vh;
    width: 385px;
    padding: 0 20px;
    border-radius: 21px 21px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    background: none;
    border: none;
    padding: 0;
    height: 30px;
    width: 30px;
}
.buttons img{
    width: 100%;
    height: 100%;
}
.add{
    color: #fff;
    background-color: #009B74;
    padding: 0;
    border: none;
    border-radius: 100px;
    width: 54px;
    height: 54px;
    font-size: 31px;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: center;
    left: 43.98%;
    margin-bottom: 45px;
}
.middle{
    height: 48px;
    width: 48px;
    position: absolute;
    align-self: center;
    left: 43.98%;
    margin-bottom: 45px;
}