.container{
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    background-color: #2e2b3c;
    width: 85%;
    padding: 5%;
    margin-bottom: 15%;
    height: 48%;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapp{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "p h h h"
    "p s s s"
    ;
}
.pfp{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    grid-area: p;
}
.heading{
    color: #fff;
    grid-area: h;
    margin-bottom: 0;
    margin-left: -7%;
}
.starWrapp{
    grid-area: s;
    margin-left: -7%;
}
.star{
    height: 24pt;
    width: 24pt;
}
.subHeading{
    text-align: start;
    width: 95%;
}
.text{
    width: 95%;
    height: 60%;
    color: #42A08C;
    background-color: #1F6A5F;
    text-align: start;
    padding: 10px;
    margin: 0;
    font-size: 12pt;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow-y: scroll;
}