.home-opravar-all{
    height: fit-content;
    width: 100vw;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-opravar-all header img{
    width: 47px;
    height: 31px;
    position: absolute;
    left: 2%;
    top: 0.5%;
}
.home-opravar-all header .text-top{
    text-align: left;
    margin: 0;
    font-size: 15px;
}
.home-opravar-all header .welcoming{
    margin-top: 38px;
    margin-bottom: 5px;
}
.home-opravar-all header .name{
    color: #009B74;
}
.home-opravar-all header hr{
    width: 91.4vw;
    height: 0.1px;
    border: none;
    background-color: #625C73;
}
.home-opravar{
    width: 85vw;
    min-height: 68vh;
    height: fit-content;
    background: #2e2b3c;
    padding: 20px;
    border-radius: 26px;
    text-align: center;
}