.home-opravar-all{
    min-height: 92.5%;
    height: fit-content;
    width: 100vw;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-opravar-all header img{
    width: 47px;
    height: 31px;
    position: absolute;
    left: 2%;
    top: 0.5%;
}
.home-opravar-all header .text-top{
    text-align: left;
    margin: 0;
    font-size: 15px;
}
.home-opravar-all header .welcoming{
    margin-top: 38px;
    margin-bottom: 5px;
    font-weight: bold;
}
.home-opravar-all header .name{
    color: #009B74;
    font-weight: bold;
    font-size: 15px;
}
.home-opravar-all header hr{
    width: 91.4vw;
    height: 0.1px;
    border: none;
    background-color: #625C73;
}
.home-opravar-all header .nasi-zakaznici{
    font-weight: bold;
    font-size: 15px;
}
.home-opravar{
    width: 85vw;
    min-height: 68vh;
    height: fit-content;
    background: #2e2b3c;
    padding: 20px;
    border-radius: 26px;
    text-align: center;
    position: relative;
    
}
.one-inserate{
    width: 90%;
    height: 40%;
    background-color: #06021A;
    margin: 0;
    padding: 7px;
    border-radius: 21px;
    position: relative;
    margin-bottom: 10px;
}
.one-inserate .user-pfp{
    width: 30px;
    position: absolute;
    top: 7%;
    left: 2%;
}
.one-inserate .user-name-lastName{
    font-size: 8px;
    text-align: left;
    width: 80%;
    margin-left: 13%;
    margin-bottom: 0;
}
.one-inserate .inserate-description{
    font-size: 8px;
    color: #736F7E;
    width: 80%;
    text-align: left;
    margin-left: 13%;
    margin-top: 3px;
}
.one-inserate .inserate-bottom{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 2px;
}
.one-inserate .wrapper{
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}
.one-inserate .inserate-images{
    max-height: 100%;
    max-width: 100%;
}
.one-inserate .show-more-btn{
    background-color: #282343;
    border: none;
    border-radius: 5px;
    height: fit-content;
    padding: 5px 7px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    right: 3%;
    bottom: 5%;
}
.home-opravar .chat-btn{
    position: absolute;
    bottom: 3%;
    right: 5%;
}