.bigContainer{
    min-height: 92.5%;
    height: fit-content;
    width: 100vw;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Header */
.hImage{
    width: 47px;
    height: 31px;
    position: absolute;
    left: 2%;
    top: 0.5%;
}
.welcoming, .name{
    text-align: left;
    margin: 0;
    font-size: 15px;
    width: 90vw;
}
.welcoming{
    margin-top: 40px;
    margin-bottom: 5px;
    font-weight: bold;
}
.name{
    color: #009B74;
    font-weight: bold;
    font-size: 15px;
}
.hr{
    width: 91.4vw;
    height: 0.1px;
    border: none;
    background-color: #625C73;
}
/* Konec headeru */
.container{
    width: 85vw;
    height: 68vh;
    overflow-y: scroll;
    background: #2e2b3c;
    padding: 20px;
    border-bottom: 15px solid #2E2B3C;
    border-top: 15px solid #2E2B3C;
    border-radius: 26px;
    text-align: center;
    position: relative;
    
}
.btn{
    position: absolute;
    bottom: 3%;
    right: 5%;
}