.container {
  max-width: 300px;
  margin: 90px auto;
  padding: 20px;
  border-radius: 26px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #2e2b3c;
}

.register{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 5px;
}