.container{
    text-align: center;
    min-height: 100%;
    width: 100%;
}
.header{
    height: 17vh;
    position: relative;
    display: flex;
}
.heading{
    width: 52.9vw;
    height: fit-content;
    font-size: 21px;
    background-color: #034E46;
    margin: 0;
    padding: 4.7vw;
    border-radius: 22px 22px 0 0;
    position: absolute;
    bottom: 0;
    left: calc(50vw - (62.3vw/2));
}
.topImage{
    height: 39px;
    width: 80px;
    position: absolute;
    right: 2%;
    top: 6%;
}
.main{
    width: 70.6vw;
    height: 55vh;
    background-color: #2e2b3c;
    border-radius: 26px;
    padding: 5vw;
    margin: 0 9.7vw 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.pfp{
    width: 9.4vw;
    height: 9.4vw;
    position: absolute;
    left: 4.5%;
    top: 3.5%;
}
.name{
    margin: 0;
    width: 100%;
    text-align: left;
    padding-left: 32%;
}
.location{
    color: #AEACB4;
    font-size: 11px;
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding-left: 32%;
    margin: 0;
    margin-top: 2px;
}
.description{
    text-align: left;
    width: 80%;
    height: 90px;
    padding: 5%;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 6px;
    overflow: scroll;
}
.image_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.wrapper{
    border: 2px solid #fff ;
    border-radius: 20px;
    width: 28.2vw;
    height: 28.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    max-width: 100%;
    max-height: 100%;
}
.button{
    background-color: #009B73;
    border: none;
    border-radius: 8px;
    padding: 12px 4.7vw;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 52.9vw;
    color: white;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0E725F;
}