.oneInserate{
    width: 92%;
    height: 26%;
    background-color: #06021A;
    margin: 0;
    padding: 7px;
    border-radius: 21px;
    position: relative;
    margin-bottom: 10px;
}
.userPfp{
    width: 30px;
    position: absolute;
    top: 7%;
    left: 2%;
}
.userNameLastName{
    font-size: 8px;
    text-align: left;
    width: 80%;
    margin-left: 13%;
    margin-bottom: 0;
}
.inserateDescription{
    font-size: 8px;
    color: #736F7E;
    width: 75%;
    padding-right: 5%;
    max-height: 40px;
    overflow-y: scroll;
    text-align: left;
    margin-left: 13%;
    margin-top: 3px;
}
.inserateBottom{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 2px;
}
.wrapper{
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}
.inserateImages{
    max-height: 100%;
    max-width: 100%;
}
.showMoreBtn{
    background-color: #282343;
    border: none;
    border-radius: 5px;
    height: fit-content;
    padding: 5px 7px;
    font-size: 11px;
    color: #fff;
    position: absolute;
    right: 3%;
    bottom: 5%;
}