.container{
    overflow: hidden;
    height: 50%;
    width: 80%;
    padding: 15px;
    margin-bottom: 20%;
    background-color: #3E394B;
    border-radius: 26px;
    position: relative;
}
.pfp{
    width: 110px;
    height: 110px;
    border-radius: 50px;
    position: absolute;
    left: 5%;
}
.name{
    color: #fff;
    margin: 7% 0 0 41%;
    font-weight: bold;
    font-size: 16pt;
}
.location{
    color: #0E725F;
    background-color: #034E46;
    text-align: left;
    width: 50%;
    padding: 10px 0 10px 10px;
    margin: 0;
    margin-left: 38%;
    font-size: 12px;
    border-radius: 6px;
    
}
.btmWrapp{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    height: 44%;
}
.starWrapp{
    margin-left: 7px;
    margin-top: 23%;
    width: fit-content;
    display: flex;
    gap: 5px;
}
.stars{
    width: 18px;
    height: 18px;
}
.btn{
    color: #fff;
    background-color: #009B73;
    border: none;
    margin-top: 20px;
    margin-left: 8%;
    padding: 7px 10px;
    font-size: 8pt;
    border-radius: 6px;
}
.skills{
    list-style: none;
    padding-left: 1.5em;
    text-align: end;
    height: 80%;
    overflow-y: scroll;
    padding: 0;
    padding-bottom: 3%;
}
.text{
    color: #fff;
    text-align: start;
    margin: 0 0 10px 18%;
    font-size: 10pt;
}
.skill{
    color: #009B73;
    justify-self: flex-start;
    font-size: 10pt;
    margin-left: 15%;
}
.skill::before{
    content: url('../img/ctcverec.png');
    padding-right: 8px;
    justify-self: flex-start;
}
.bio{
    font-size: 10pt;
    text-align: start;
    justify-self: center;
    width: 96%;
    height: 25%;
    overflow-y: scroll;
    color: #736f7e;
    outline: solid 2px #554F64 ;
    border: solid 7px #3E394B;
    border-radius: 8px;
}