.profilZakaznikAll {
  height: 100vh;
  position: relative;
}


.profilZakaznikImg {
  position: fixed;
  top: 10px;
  right: 10px;
    width: 50px;
    height: 50px;
}

.exit{
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    background-color: #0E725F;
    color: white;
    font-weight: 900;
    border-radius: 26px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}


.pridat{
    font-size: 16px;
    background-color: #0E725F;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    margin: 70px 113px;
    width: 188px;
    height: 40px;
    border: none;
    cursor: pointer;
}