.profil-opravar-all{
    height: 100vh;
}
.profil-opravar{
    max-width: 300px;
    height: 68vh;
    background: #2e2b3c;
    padding: 20px;
    margin: 0 42.5px 40px 42.5px;
    border-radius: 26px;
    text-align: center;
}
.profil-opravar-smaller{
    height: 34vh;
}
.profil-opravar .pfp-set{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profil-opravar .pfp-set p{
    margin: 0;
    text-align: left;
}
.profil-opravar .pfp-set input{
    color: #009B73;
    border: 2px solid #009B73;
    width: 240px;
    border-radius: 6px;
    padding: 0;
    margin: 20px 0;
    background: none;
}
.profil-opravar .pfp{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    position: absolute;
    top: 14vh;
    left: 39.41vw;
}
.profil-opravar .pen{
    position: absolute;
    left: 53vw;
}
#top-profile{
    margin-top: 8%;
}
.profil-opravar p{
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 10px;
}
.profil-opravar .informace{
    color: #6BE0C2;
}
.profil-opravar .inactive{
    display: none;
}
.profil-opravar .changed-info{
    color: lightslategrey;
}