.container{
    height: 92.5%;
    width: 84vw;
    background: #2e2b3c;
    padding: 20px;
    border-bottom: 15px solid #2e2b3c;
    margin: 20px 10px;
    border-radius: 26px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    width: 90%;
    border: 2px solid #736F7E;
    border-radius: 14.5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.searchBarImg{
    height: 22px;
    margin: 0;
    margin-right: 10px;
}
.searchBarInput{
    background: none;
    margin: 0;
    padding: 0;
}
.searchBarInput::placeholder{
    color: #736F7E;
}
.results{
    color: #736F7E;
    width: 80%;
    text-align: left;
    font-size: 13px;
}
.wrapp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    overflow-y: scroll;
}