.profil-opravar-all{
    height: 100vh;
}
.profil-opravar{
    max-width: 300px;
    height: 68vh;
    background: #2e2b3c;
    padding: 20px;
    margin: 0 42.5px 40px 42.5px;
    border-radius: 26px;
    text-align: center;
}
.profil-opravar img{
    position: absolute;
    top: 14vh;
    left: 39.41vw;
}
#top-profile{
    margin-top: 35px;
}
.profil-opravar p{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.profil-opravar .informace{
    width: 280px;
    height: 20px;
    padding: 10px 12px;
    margin-bottom: 18px;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s ease;
    background-color: #176358;
    border: none;
    color: #6BE0C2;
    margin-top: 0;
}
.profil-opravar .inactive{
    display: none;
}