.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
    top: 68px;
    left: 25%;
    z-index: 1000;
}

.nav-button {
  text-align: center;
border: none;
  background-color: #009B73;
  border-radius: 26px;
  padding: 10px 20px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  /* width: 84px;  */
  height: 30px;
  color: white;
  font-size: 16px;
}

.nav-button.active {
  background-color: #0E725F;
  /* width: 94px;  */
  height: 35px;
}
